
div.corpoLogin{
    margin-top: 2%;
    background-color: #E9ECEF;
    width: 350px;
    height: 550px;
    border-radius: 10px;
    text-align: left; 
}
.conteudo-login{
    padding-top: 15%;
    padding-left: 7%;
    padding-right: 7%;
   
}

#esqueci-senha{
    font-size:14px;
}


