#iconeAdd {
  cursor: pointer;
}
.img-bot {
  cursor: pointer;
}
.tabela-pedidos {
  border-radius: 10px;
}

#tabela-pedidos {
background-color: #e9ecef;
border-radius: 10px;
  width: 850px;
  margin-top: 20px;
}
#conteudo-tab-ped{
  margin-right: 3%;
  margin-left: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
}
