
#home{
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 20px;
    background-color: #E9ECEF;
    border-radius: 10px;
}
#corpo-home{
    margin-right: 3%;
    margin-left: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    
}
