div.corpoImput{
    margin-top: 20px;
    background-color: #E9ECEF;
    width: 500px;
    height: 350px;
    border-radius: 10px;
}
.conteudo-input{
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}


