div.corpoImput{
    align-items: center;
    margin-top: 20px;
    background-color: #E9ECEF;
    width: 25%;
    height: 600px;

    border-radius: 10px;
    text-align: left;
}
.conteudo-input{
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    
}


