
div.corpoPalavraC{
    margin-top: 2%;
    background-color: #E9ECEF;
    width: 25%;
    height: 300px;
    border-radius: 10px;
    text-align: left; 
}
.conteudo-palavraC{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
   
}

