.botao-menu{
    color:white;
}
.botao-menu:hover{
    color:#616A71;
    text-decoration: none;
}
#sair{
    transition: all 0.3s;
    cursor:pointer;
}
#sair:hover{ 
    color: rgba(253, 49, 49, 0.897);
}
#menu{
    
    background-color: #E9ECEF;
}
