.corpoCadastro{
    margin-top: 2%;
    background-color: #E9ECEF;
    width: 900px;
    height: 550px;
    border-radius: 10px;
    text-align: left; 
}
.conteudo-Cadastro{
    padding-top: 2%;
    padding-left: 7%;
    padding-right: 7%;
   
}
